<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Deepanshu Kamboj</title>
  <link rel="stylesheet" href="/css/style2.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/image/icon.png"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="jquery-3.5.1.min.js"></script>

</head>

<body data-bs-spy="scroll" data-bs-target="#p-nav" data-bs-offset="0" class="scrollspy-example" tabindex="0">

  <!-- --------Navbar----------- -->
  <div id="myNav" class="nav-slide">
    <div class="image">
      <img src="image\WhatsApp Image 2021-05-20 at 10.41.12 AM (2).jpeg" alt="profile-image">
      <h2>DEEPANSHU KAMBOJ</h2>
      <div class="social">
        <a href="#"><i class='bx bxl-facebook'></i></a>
        <a href="https://www.linkedin.com/in/deepanshu-kamboj-5aa74019a/" target="_blank"><i class='bx bxl-linkedin'></i></a>
        <a href="https://github.com/deepkamboj07" target="_blank"><i class='bx bxl-github'></i></a>
      </div>

    </div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">

      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home" onclick="closeNav()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#about" onclick="closeNav()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skill" onclick="closeNav()">Skill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" onclick="closeNav()">Contact</a>
        </li>

      </ul>
    </div>
  </div>

  <!-- Button to close the overlay navigation -->


  <!-- Overlay content -->


  <section class="portfolio-navbar container-fluid">
    <nav id="p-nav" class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
      <div onclick="openNav()" class="toogle">
        <i class='bx bx-menu'></i>
      </div>
      </button>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-pills navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skill">Skill</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

  </section>