<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1430 310">
    <path fill="#1e1f26" fill-opacity="1"
      d="M0,256L48,234.7C96,213,192,171,288,144C384,117,480,107,576,101.3C672,96,768,96,864,106.7C960,117,1056,139,1152,128C1248,117,1344,75,1392,53.3L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
    </path>
  </svg>

  <section id="about" class="about container-lg-fluid">
    <div class="heading">
      <h1>About <span>Me</span></h1>
    </div>
    <div class="row">
        <div class="col-lg-6 img-para">
            <img src="image\about.gif" alt="about"/>
        </div>
        <div class="col-lg-6 pe-ra">
            <div class="about-pera" data-aos="fade-up" data-aos-offset="200" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <h3 style="font-family: 'Rubik', sans-serif; font-size: 30px;">HEY THERE!</h3>
                <p>I am Deepanshu Kamboj from Roorkee, India currently studying computer science engineering from Graphic Era My field of interest is mainly Software Development, Web Development and Frontend</p>

                <div class="document">
                    <span><button class="btn btn-primary" onclick="window.open('/resume/Deepanshu-Resume.pdf')">Resume</button></span>
                    <span><button class="btn btn-primary">Transcript</button></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row boxes">
      <div class="box col-lg-4" data-aos="zoom-in" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <h3>Project Completed</h3>
        <h5>4+</h5>
      </div>
      <div class="box col-lg-4" data-aos="zoom-in" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <h3>Year of college</h3>
        <h5>4th</h5>
      </div>
      <div class="box col-lg-4" data-aos="zoom-in" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <h3>Year of experience</h3>
        <h5>0 (Fresher)</h5>
      </div>
    </div>

    <%- include('profiles'); %>
    <%- include('skills'); %>
    <%- include('education'); %>
    <%- include('projects'); %>
  </section>