<section class="education__">
    <div class="heading2">
        <h2><span>My Education</span></h2>   
    </div>

    <div class="timeline">
        <div class="container right">
            <div class="content-education" data-aos="fade-up"
            data-aos-duration="3000">
                <h4>Graphic Era Dehradun</h4>
                <p>Bachelor of Technology in Information Technology</p>
                <p>2019 - 2023</p>
                <br>
                <p>Current CGPA (out of 10) - 8.87</p>
            </div>
        </div>
        <div class="container">
            <div class="content-education" data-aos="fade-up"
            data-aos-duration="3000">
                <h4>A.S.A. Saraswati Vidya Mandir</h4>
                <p>All India Senior School Certificate Examination</p>
                <p>2017 - 2019</p>
                <br>
                <p>Subjects - Physics, Chemistry, Maths, Computer Science, English and Physical Education</p>
                <p>Percentate - 88%</p>
            </div>
        </div>
        <div class="container right">
            <div class="content-education" data-aos="fade-up"
            data-aos-duration="3000">
                <h4>A.S.A. Saraswati Vidya Mandir</h4>
                <p>All India Secondary School Examination</p>
                <p>2016 - 2017</p>
                <br>
                <p>CGPA (out of 10) - 8.6</p>
            </div>
        </div>
    </div>
</section>