<%- include('./partials/header'); %>
  <!-- ------------HOME-------------- -->
  <section id="home" class="p-home curved">
    <div class="container-md">
      <div class="row head">
        <div class="col-lg-6 intro typewrite">
          <h4>HELLO, I AM </h4>
          <h1>DEEPANSHU KAMBOJ</h1>
          <h5 class="typewriter-text">Developer and Learner..</h5><br><br>
          <a href="#contact"><button class="cont-act btn btn-warning">CONTACT</button></a>

          <div class="social2">
              <div data-aos="fade-down" data-aos-duration="1000" class="social-box">
                <i id="linkedin" class='bx bxl-linkedin' onclick="window.open('https://www.linkedin.com/in/deepanshu-kamboj-5aa74019a/')"></i>
              </div>
              <div data-aos="fade-down" data-aos-duration="1200" class="social-box">
                <i class='bx bxl-github' onclick="window.open('https://github.com/deepkamboj07')"></i>
              </div>
              <div data-aos="fade-down" data-aos-duration="1400" class="social-box">
                <i class='bx bxl-instagram'></i>
              </div>
              <div data-aos="fade-down" data-aos-duration="1600" class="social-box">
                <i id="whatsapp" class='bx bxl-whatsapp' onclick="window.open('https://wa.me/9634825921?text=Hello,Deepanshu i want to say that..')"></i>
              </div>
          </div>
        </div>
        <div class="col-lg-6 profile-image">
          <img data-aos="fade-down" src="image\imageonline-co-blackandwhiteimage.png">
        </div>
      </div>
    </div>
  </section>
  <!-- ------------HOME End-------------- -->

  <%- include('about'); %>
  <!-- ------------About-------------- -->
  
  <!-- ------------About End-------------- -->

  <!-- -----------------Skill-------------------- -->
  <!-- <section id="skill" class="my-skill">
    <div style="padding-left:20px;" class="heading">
      <h1>My <span>Skills</span></h1>
    </div>

    <section class="slide">
      <div id="slide-show" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3 class="progress-title">C - <span>80</span>%</h3>
            <div class="progress">
                <div class="progress-bar" style="width:80%; background:#4d648d;"></div>
            </div>
            <img data-aos="zoom-in" class="slide-pic" src="image\logo\5a36954d40bea2.0735336615135266052652.png" alt="C Language">
            <p>C Language</p>
          </div>

          <div class="carousel-item">
            <h3 class="progress-title">C++ - <span>70</span>%</h3>
            <div class="progress">
                <div class="progress-bar" style="width:70%; background:#3d99f9;"></div>
            </div>
            <img data-aos="zoom-in" class="slide-pic" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out"
              src="image\logo\kisspng-the-c-programming-language-computer-icons-comput-programming-5acadc2e16ef78.280689641523244078094.png" alt="C++">
            <p>C++ Language</p>
          </div>

          <div class="carousel-item">
            <h3 class="progress-title">Java - <span>80</span>%</h3>
            <div class="progress">
                <div class="progress-bar" style="width:80%; background:#ee4035;"></div>
            </div>
            <img data-aos="zoom-in" class="slide-pic" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out"
              src="image\logo\kisspng-java-runtime-environment-computer-icons-java-platf-java-5ade3063f31610.0948145615245108199957.png" alt="Java">
            <p>Java Language</p>
          </div>

          <div class="carousel-item">
            <h3 class="progress-title">HTML - <span>60</span>%</h3>
            <div class="progress">
                <div class="progress-bar" style="width:60%; background:#ee4035;"></div>
            </div>
            <img data-aos="zoom-in" class="slide-pic" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out"
              src="image\logo\html.png" alt="Html">
            <p>HTML</p>
          </div>

          <div class="carousel-item">
            <h3 class="progress-title">CSS - <span>60</span>%</h3>
            <div class="progress">
                <div class="progress-bar" style="width:60%; background: #0392cf;"></div>
            </div>
            <img data-aos="zoom-in" class="slide-pic" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out"
              src="image\logo\css.png" alt="Html">
            <p>CSS</p>
          </div>

          <div class="carousel-item">
            <h3 class="progress-title">python - <span>50</span>%</h3>
            <div class="progress">
                <div class="progress-bar" style="width:50%; background: #f6cd61;"></div>
            </div>
            <img data-aos="zoom-in" class="slide-pic" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out"
              src="image\logo\python.png" alt="Html">
            <p>Python</p>
          </div>

          <div class="carousel-item">
            <h3 class="progress-title">node-js - <span>50</span>%</h3>
            <div class="progress">
                <div class="progress-bar" style="width:50%; background: #009688;"></div>
            </div>
            <img data-aos="zoom-in" class="slide-pic" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out"
              src="image\logo\node-js.png" alt="Html">
            <p>Node-Js</p>
          </div>

          <div class="carousel-item">
            <h3 class="progress-title">mongo-db - <span>50</span>%</h3>
            <div class="progress">
                <div class="progress-bar" style="width:50%; background: #009688;"></div>
            </div>
            <img data-aos="zoom-in" class="slide-pic" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out"
              src="image\logo\mongo.png" alt="Html">
            <p>Mongo-DB</p>
          </div>

          <div class="carousel-item">
            <h3 class="progress-title">JavaScript - <span>50</span>%</h3>
            <div class="progress">
                <div class="progress-bar" style="width:50%; background:#f37736;"></div>
            </div>
            <img data-aos="zoom-in" class="slide-pic" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out"
              src="image\logo\js.png" alt="Html">
            <p>JavaScript</p>
          </div>


        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#slide-show" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#slide-show" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

  </section> -->

  <!------- ------------Skill End-------------- -->

  <!-- ----------------------Contact------------------ -->
  <section id="contact" class="contact container-lg-fluid">
    <div class="">
      <div class="heading">
        <h1>Contact <span>Me</span></h1>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <div class="infor">
            <div data-aos="fade-down" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out" class="address">
              <i class='bx bx-map'></i>
              <h3>Locattion : </h3>
              <p>Subhash Nagar, Roorkee, Haridwar, Uttarakhand </p>
            </div>
            <div data-aos="fade-down"  data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out" class="email">
              <i class='bx bx-mail-send'></i>
              <h3>Email : </h3>
              <p>deepkamboj0207@gmail.com</p>
            </div>
            <div data-aos="fade-down" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out" class="phone">
              <i class='bx bxs-phone-call'></i>
              <h3>Call : </h3>
              <p>+91 9548 372 439</p>
            </div>

            <iframe data-aos="zoom-in" data-aos-delay="90" data-aos-duration="1000" data-aos-easing="ease-in-out"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3910.3252046853904!2d77.86344095952367!3d29.87021206049364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390eb38c00620067%3A0xfc08ef93738ba072!2sKrishna%20Nagar%2C%20Rajendra%20Nagar%2C%20Roorkee%2C%20Uttarakhand%20247667!5e0!3m2!1sen!2sin!4v1630178160602!5m2!1sen!2sin"
              frameboarder="0" width="100%" height="290px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

          </div>

        </div>

        <div class="col-lg-7">
          <div class="con">
            <form class="form" action="mailto:deepkamboj0207@gmail.com" style="padding:40px;" method="post">
              <div class="row">
                <div class="col">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col">
                  <label class="form-label">Email address</label>
                  <input type="email" class="form-control" placeholder="name@example.com">
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Subject</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">Message</label>
                <textarea class="form-control" rows="8"></textarea>
              </div>

              <button type="submit" class="send btn btn-primary">Send</button>
            </form>

          </div>
        </div>

      </div>


    </div>

  </section>


  <!-- ------------------------Contact End--------- -->

  <!-- JavaScript Bundle with Popper -->
  <script src="/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    AOS.init();
  </script>
</body>
<footer>
  <p>&copy Deepanshu kamboj</p>
</footer>

</html>
