<section class="some-profile">
        <div class="heading2">
            <h2>SOME <span>PROFILES</span></h2>
        </div>
        <div class="profile-cont">
            <div class="profile-box" data-aos="fade-up"
            data-aos-anchor-placement="top-center" data-aos-duration="1200" onclick="window.open('https://leetcode.com/deepkamboj07/')">
                    <img src="image\leetcode.png"/>
            </div>
            <div class="profile-box" data-aos="fade-up"
            data-aos-anchor-placement="top-center" data-aos-duration="1500" onclick="window.open('https://auth.geeksforgeeks.org/user/deepanshukamboj')">
                <img src="image\gfg.jpeg"/>
            </div>
            <div class="profile-box" data-aos="fade-up"
            data-aos-anchor-placement="top-center" data-aos-duration="1800">
                <img src="image\codechef.jpeg"/>
            </div>
    </div>
</section>