<section class="education__">
    <div class="heading2">
        <h2><span>My Projects</span></h2>   
    </div>

   <div class="project-wraper">
        <div class="projects-cont" data-aos="fade-down" data-aos-duration="2600">
            <div class="project-box">
                <div class="projects-display">
                    <img src="image/pc.jpg"/>
                </div>
                <div class="project-name">
                    <label>Programing Concept Website</label>
                </div>
            </div>
            <div class="project-button">
                <button class="btn btn-primary" onclick="window.open('https://programing-club.herokuapp.com/')">Web App</button>
            </div>
        </div>
        <div class="projects-cont" data-aos="fade-down" data-aos-duration="2900">
            <div class="project-box">
                <div class="projects-display">
                    <img class="change" src="image/ws.png"/>
                </div>
                <div class="project-name">
                    <label>Waste Managment Application</label>
                </div>
            </div>
            <div class="project-button">
                <button class="btn btn-primary" onclick="window.open('https://wastesmasher.herokuapp.com/')">Download App</button>
            </div>
        </div>
        <div class="projects-cont" data-aos="fade-down" data-aos-duration="3000">
            <div class="project-box">
                <div class="projects-display">
                    <img src="image/face.jpg"/>
                </div>
                <div class="project-name">
                    <label>Face Recognition Attendence System</label>
                </div>
            </div>
            <div class="project-button">
                <button class="btn btn-primary">Github</button>
            </div>
        </div>
        <div class="projects-cont" data-aos="fade-down" data-aos-duration="3000">
            <div class="project-box">
                <div class="projects-display">
                    <img src="image/expr.jpg"/>
                </div>
                <div class="project-name">
                    <label>Face Expresion Detection</label>
                </div>
            </div>
            <div class="project-button">
                <button class="btn btn-primary" onclick="window.open('https://github.com/deepkamboj07/Face-Smile-Detection/tree/main/Face-smile%20Detection')">Github</button>
            </div>
        </div>   
        <div class="projects-cont" data-aos="fade-down" data-aos-duration="3000">
            <div class="project-box">
                <div class="projects-display">
                    <img class="change" src="image/notepad.jpg"/>
                </div>
                <div class="project-name">
                    <label>Notepad Web App</label>
                </div>
            </div>
            <div class="project-button">
                <button class="btn btn-primary" onclick="window.open('https://deepkamboj07.github.io/notepad/');">Web App</button>
            </div>
        </div> 
        <div class="projects-cont" data-aos="fade-down" data-aos-duration="3000">
            <div class="project-box">
                <div class="projects-display">
                    <img class="change" src="image/oregano.jpg"/>
                </div>
                <div class="project-name">
                    <label>Oregano Food Ordering Webapp</label>
                </div>
            </div>
            <div class="project-button">
                <button class="btn btn-primary" onclick="window.open('https://deepkamboj07.github.io/oregano-foodapp/');">Web App</button>
            </div>
        </div>    
   </div>

   <div class="heading2" style="margin-top:3rem;">
        <h2><span>Working on more projects 😁</span></h2>
   </div>
</section>