<section class="skill-profile" id="skill">
    <div class="heading2">
        <h2><span>SKILLS</span></h2>   
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div>
                <label class="skill-topic">Languages</label>
                <div class="skikks-set">
                    <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                        <div class="skill_name">
                            <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify" data-icon="bx:bxl-c-plus-plus" data-inline="false" style="transform: rotate(360deg);"><path d="M20.66 7a1.51 1.51 0 0 0-.55-.57l-7.34-4.24a1.67 1.67 0 0 0-1.54 0L3.89 6.43a1.68 1.68 0 0 0-.77 1.33v8.48a1.57 1.57 0 0 0 .22.76a1.51 1.51 0 0 0 .55.57l7.34 4.24a1.67 1.67 0 0 0 1.54 0l7.34-4.24a1.51 1.51 0 0 0 .55-.57a1.57 1.57 0 0 0 .22-.76V7.76a1.57 1.57 0 0 0-.22-.76zM12 17.92A5.92 5.92 0 1 1 17.13 9L16 9.71l-.36.2l-1 .61A3 3 0 0 0 9 12a2.88 2.88 0 0 0 .4 1.48a3 3 0 0 0 5.13 0l2.6 1.52A5.94 5.94 0 0 1 12 17.92zm5.92-5.59h-.66V13h-.65v-.66H16v-.66h.66V11h.65v.66h.66zm2.47 0h-.66V13h-.66v-.66h-.65v-.66h.65V11h.66v.66h.66z" fill="#0d6efd"></path></svg></div>
                            <span>C/C++</span>
                        </div>
                        <div class="skillbar"></div>
                    </div>
                    <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                        <div class="skill_name">
                            <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" class="iconify" data-icon="cib:java" data-inline="false" style="transform: rotate(360deg);"><path fill="currentColor" d="M11.803 24.745s-1.224.713.869.952c2.536.292 3.833.251 6.625-.281c0 0 .733.464 1.76.865c-6.265 2.683-14.177-.161-9.255-1.536zm-.767-3.5s-1.375 1.015.719 1.228c2.715.281 4.849.308 8.552-.405c0 0 .511.516 1.319.801c-7.573 2.213-16.011.172-10.589-1.624zm6.453-5.942c1.541 1.776-.407 3.375-.407 3.375s3.917-2.027 2.12-4.557c-1.681-2.365-2.973-3.536 4.005-7.584c0 0-10.953 2.735-5.719 8.767zm8.282 12.036s.907.744-.995 1.323c-3.615 1.093-15.047 1.421-18.224.041c-1.14-.495 1-1.187 1.672-1.328c.703-.156 1.104-.124 1.104-.124c-1.271-.896-8.208 1.755-3.525 2.515c12.776 2.073 23.285-.932 19.968-2.427zm-13.38-9.724s-5.817 1.38-2.063 1.88c1.589.213 4.751.167 7.699-.083c2.405-.204 4.823-.636 4.823-.636s-.849.364-1.464.787c-5.907 1.552-17.317.828-14.031-.76c2.776-1.339 5.036-1.188 5.036-1.188zm10.432 5.833c6-3.125 3.224-6.12 1.292-5.713c-.475.093-.688.183-.688.183s.172-.277.511-.396c3.833-1.349 6.781 3.973-1.235 6.083c0-.005.095-.083.12-.156zM19.203 0s3.324 3.323-3.156 8.437c-5.192 4.104-1.183 6.443 0 9.115c-3.031-2.735-5.255-5.14-3.765-7.38C14.474 6.875 20.542 5.281 19.203 0zm-6.224 31.901c5.761.364 14.609-.208 14.824-2.932c0 0-.407 1.031-4.767 1.853c-4.916.927-10.984.817-14.583.224c0 0 .74.609 4.525.855z"></path></svg></div>
                            <span>Java</span>
                        </div>
                        <div class="skillbar"></div>
                    </div>
                    <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                        <div class="skill_name">
                            <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify" data-icon="akar-icons:html-fill" data-inline="false" style="transform: rotate(360deg);"><g fill="none"><g fill="currentColor" clip-path="url(#IconifyId-182deb2fe9e-8bf16c-1)"><path d="M5.08 0h1.082v1.069h.99V0h1.082v3.236H7.152V2.153h-.99v1.083H5.081V0Zm4.576 1.073h-.952V0h2.987v1.073h-.953v2.163H9.656V1.073ZM12.165 0h1.128l.694 1.137L14.68 0h1.128v3.236h-1.077V1.632l-.744 1.151h-.019l-.745-1.15v1.603h-1.058V0Zm4.181 0h1.083v2.167h1.52v1.07h-2.603V0Z"></path><path fill-rule="evenodd" d="M5.046 22.072L3 4.717h18L18.953 22.07L11.99 24l-6.944-1.928Zm4.137-9.5l-.194-2.18h8.145l.19-2.128H6.664l.574 6.437h7.377l-.247 2.76l-2.374.642h-.002l-2.37-.64l-.152-1.697H7.332l.298 3.342l4.36 1.21l4.367-1.21l.532-5.964l.052-.571H9.183Z" clip-rule="evenodd"></path></g><defs><clipPath id="IconifyId-182deb2fe9e-8bf16c-1"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></g></svg></div>
                            <span>HTML</span>
                        </div>
                        <div class="skillbar"></div>
                    </div>
                    <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                        <div class="skill_name">
                            <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify" data-icon="akar-icons:css-fill" data-inline="false" style="transform: rotate(360deg);"><path fill="currentColor" d="M7.502 0h2.578v1.078h-1.5v1.078h1.5v1.078H7.502V0Zm3.093 0h2.579v.938h-1.5v.187h1.5v2.156h-2.579v-.984h1.5v-.188h-1.5V0Zm3.095 0h2.577v.938h-1.5v.187h1.5v2.156H13.69v-.984h1.5v-.188h-1.5V0Z"></path><path fill="currentColor" fill-rule="evenodd" d="m11.991 24l-6.944-1.928L3 4.717h18L18.954 22.07L11.991 24ZM7.047 12.573l.191 2.128h7.377l-.247 2.76l-2.374.642h-.002l-2.37-.64l-.152-1.697H7.333l.298 3.342l4.36 1.21l4.367-1.21l.532-5.964l.052-.571l.384-4.309H6.664l.194 2.129h8.136l-.194 2.18H7.047Z" clip-rule="evenodd"></path></svg></div>
                            <span>CSS</span>
                        </div>
                        <div class="skillbar"></div>
                    </div>
                    <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                        <div class="skill_name">
                            <div><svg width="2270" height="2500" viewBox="0 0 256 282" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" class="iconify"><g fill="#4070F4"><path d="M116.504 3.58c6.962-3.985 16.03-4.003 22.986 0 34.995 19.774 70.001 39.517 104.99 59.303 6.581 3.707 10.983 11.031 10.916 18.614v118.968c.049 7.897-4.788 15.396-11.731 19.019-34.88 19.665-69.742 39.354-104.616 59.019-7.106 4.063-16.356 3.75-23.24-.646-10.457-6.062-20.932-12.094-31.39-18.15-2.137-1.274-4.546-2.288-6.055-4.36 1.334-1.798 3.719-2.022 5.657-2.807 4.365-1.388 8.374-3.616 12.384-5.778 1.014-.694 2.252-.428 3.224.193 8.942 5.127 17.805 10.403 26.777 15.481 1.914 1.105 3.852-.362 5.488-1.274 34.228-19.345 68.498-38.617 102.72-57.968 1.268-.61 1.969-1.956 1.866-3.345.024-39.245.006-78.497.012-117.742.145-1.576-.767-3.025-2.192-3.67-34.759-19.575-69.5-39.18-104.253-58.76a3.621 3.621 0 0 0-4.094-.006C91.2 39.257 56.465 58.88 21.712 78.454c-1.42.646-2.373 2.071-2.204 3.653.006 39.245 0 78.497 0 117.748a3.329 3.329 0 0 0 1.89 3.303c9.274 5.259 18.56 10.481 27.84 15.722 5.228 2.814 11.647 4.486 17.407 2.33 5.083-1.823 8.646-7.01 8.549-12.407.048-39.016-.024-78.038.036-117.048-.127-1.732 1.516-3.163 3.2-3 4.456-.03 8.918-.06 13.374.012 1.86-.042 3.14 1.823 2.91 3.568-.018 39.263.048 78.527-.03 117.79.012 10.464-4.287 21.85-13.966 26.97-11.924 6.177-26.662 4.867-38.442-1.056-10.198-5.09-19.93-11.097-29.947-16.55C5.368 215.886.555 208.357.604 200.466V81.497c-.073-7.74 4.504-15.197 11.29-18.85C46.768 42.966 81.636 23.27 116.504 3.58z"/><path d="M146.928 85.99c15.21-.979 31.493-.58 45.18 6.913 10.597 5.742 16.472 17.793 16.659 29.566-.296 1.588-1.956 2.464-3.472 2.355-4.413-.006-8.827.06-13.24-.03-1.872.072-2.96-1.654-3.195-3.309-1.268-5.633-4.34-11.212-9.642-13.929-8.139-4.075-17.576-3.87-26.451-3.785-6.479.344-13.446.905-18.935 4.715-4.214 2.886-5.494 8.712-3.99 13.404 1.418 3.369 5.307 4.456 8.489 5.458 18.33 4.794 37.754 4.317 55.734 10.626 7.444 2.572 14.726 7.572 17.274 15.366 3.333 10.446 1.872 22.932-5.56 31.318-6.027 6.901-14.805 10.657-23.56 12.697-11.647 2.597-23.734 2.663-35.562 1.51-11.122-1.268-22.696-4.19-31.282-11.768-7.342-6.375-10.928-16.308-10.572-25.895.085-1.619 1.697-2.748 3.248-2.615 4.444-.036 8.888-.048 13.332.006 1.775-.127 3.091 1.407 3.182 3.08.82 5.367 2.837 11 7.517 14.182 9.032 5.827 20.365 5.428 30.707 5.591 8.568-.38 18.186-.495 25.178-6.158 3.689-3.23 4.782-8.634 3.785-13.283-1.08-3.925-5.186-5.754-8.712-6.95-18.095-5.724-37.736-3.647-55.656-10.12-7.275-2.571-14.31-7.432-17.105-14.906-3.9-10.578-2.113-23.662 6.098-31.765 8.006-8.06 19.563-11.164 30.551-12.275z"/></g></svg></div>
                            <span>Node-Js</span>
                        </div>
                        <div class="skillbar"></div>
                    </div>
                </div>
            </div>

            <div>
                <label class="skill-topic">Technical Skills</label>
                <div class="skikks-set">
                    <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                        <div class="skill_name">
                            <div><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 281.79 325.28"  class="iconify"><title>dta</title><path d="M96.52 325.28l185.27-106.06-.29-80.79-13.38.47 1.58 25.46-173 99.8L58.71 242l131.91-76.16-7.23-5.84-136.16 80.75-.63 57zm4.86-55.28l172.73-99.53-.51 45.85-173 99.8z" fill="#4070F4"/><path d="M280.83 106.74L96 0 26.81 41.91l27.81-3.86 173.3 99.28v44l-132.7-76.21-1.39 9.18 140.76 79.09 46.91-25.47zm-50.27 23.65L57.64 31.19 97.52 8.56l173.29 99.28z" fill="#70d463"/><path fill="#2470d4" d="M50.94 27.17L0 56.66v211.8l46.92 29.49v-12.07L8.04 263.09V63.36l38.88 22.79v155.68l6.7-3.92V86.15l38.87-22.79V214.8l6.71-3.99.59-155.23-48.85-28.41z"/></svg></div>
                            <span>Data Structures</span>
                        </div>
                        <div class="skillbar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <label class="skill-topic" style="padding-top: 6rem;">Framework</label>
                <div class="skikks-set">
                    <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                        <div class="skill_name">
                            <div><svg  class="iconify" viewBox="175.7 78 490.6 436.9" xmlns="http://www.w3.org/2000/svg"><g fill="#4070F4"><path d="m666.3 296.5c0-32.5-40.7-63.3-103.1-82.4 14.4-63.6 8-114.2-20.2-130.4-6.5-3.8-14.1-5.6-22.4-5.6v22.3c4.6 0 8.3.9 11.4 2.6 13.6 7.8 19.5 37.5 14.9 75.7-1.1 9.4-2.9 19.3-5.1 29.4-19.6-4.8-41-8.5-63.5-10.9-13.5-18.5-27.5-35.3-41.6-50 32.6-30.3 63.2-46.9 84-46.9v-22.3c-27.5 0-63.5 19.6-99.9 53.6-36.4-33.8-72.4-53.2-99.9-53.2v22.3c20.7 0 51.4 16.5 84 46.6-14 14.7-28 31.4-41.3 49.9-22.6 2.4-44 6.1-63.6 11-2.3-10-4-19.7-5.2-29-4.7-38.2 1.1-67.9 14.6-75.8 3-1.8 6.9-2.6 11.5-2.6v-22.3c-8.4 0-16 1.8-22.6 5.6-28.1 16.2-34.4 66.7-19.9 130.1-62.2 19.2-102.7 49.9-102.7 82.3 0 32.5 40.7 63.3 103.1 82.4-14.4 63.6-8 114.2 20.2 130.4 6.5 3.8 14.1 5.6 22.5 5.6 27.5 0 63.5-19.6 99.9-53.6 36.4 33.8 72.4 53.2 99.9 53.2 8.4 0 16-1.8 22.6-5.6 28.1-16.2 34.4-66.7 19.9-130.1 62-19.1 102.5-49.9 102.5-82.3zm-130.2-66.7c-3.7 12.9-8.3 26.2-13.5 39.5-4.1-8-8.4-16-13.1-24-4.6-8-9.5-15.8-14.4-23.4 14.2 2.1 27.9 4.7 41 7.9zm-45.8 106.5c-7.8 13.5-15.8 26.3-24.1 38.2-14.9 1.3-30 2-45.2 2-15.1 0-30.2-.7-45-1.9-8.3-11.9-16.4-24.6-24.2-38-7.6-13.1-14.5-26.4-20.8-39.8 6.2-13.4 13.2-26.8 20.7-39.9 7.8-13.5 15.8-26.3 24.1-38.2 14.9-1.3 30-2 45.2-2 15.1 0 30.2.7 45 1.9 8.3 11.9 16.4 24.6 24.2 38 7.6 13.1 14.5 26.4 20.8 39.8-6.3 13.4-13.2 26.8-20.7 39.9zm32.3-13c5.4 13.4 10 26.8 13.8 39.8-13.1 3.2-26.9 5.9-41.2 8 4.9-7.7 9.8-15.6 14.4-23.7 4.6-8 8.9-16.1 13-24.1zm-101.4 106.7c-9.3-9.6-18.6-20.3-27.8-32 9 .4 18.2.7 27.5.7 9.4 0 18.7-.2 27.8-.7-9 11.7-18.3 22.4-27.5 32zm-74.4-58.9c-14.2-2.1-27.9-4.7-41-7.9 3.7-12.9 8.3-26.2 13.5-39.5 4.1 8 8.4 16 13.1 24s9.5 15.8 14.4 23.4zm73.9-208.1c9.3 9.6 18.6 20.3 27.8 32-9-.4-18.2-.7-27.5-.7-9.4 0-18.7.2-27.8.7 9-11.7 18.3-22.4 27.5-32zm-74 58.9c-4.9 7.7-9.8 15.6-14.4 23.7-4.6 8-8.9 16-13 24-5.4-13.4-10-26.8-13.8-39.8 13.1-3.1 26.9-5.8 41.2-7.9zm-90.5 125.2c-35.4-15.1-58.3-34.9-58.3-50.6s22.9-35.6 58.3-50.6c8.6-3.7 18-7 27.7-10.1 5.7 19.6 13.2 40 22.5 60.9-9.2 20.8-16.6 41.1-22.2 60.6-9.9-3.1-19.3-6.5-28-10.2zm53.8 142.9c-13.6-7.8-19.5-37.5-14.9-75.7 1.1-9.4 2.9-19.3 5.1-29.4 19.6 4.8 41 8.5 63.5 10.9 13.5 18.5 27.5 35.3 41.6 50-32.6 30.3-63.2 46.9-84 46.9-4.5-.1-8.3-1-11.3-2.7zm237.2-76.2c4.7 38.2-1.1 67.9-14.6 75.8-3 1.8-6.9 2.6-11.5 2.6-20.7 0-51.4-16.5-84-46.6 14-14.7 28-31.4 41.3-49.9 22.6-2.4 44-6.1 63.6-11 2.3 10.1 4.1 19.8 5.2 29.1zm38.5-66.7c-8.6 3.7-18 7-27.7 10.1-5.7-19.6-13.2-40-22.5-60.9 9.2-20.8 16.6-41.1 22.2-60.6 9.9 3.1 19.3 6.5 28.1 10.2 35.4 15.1 58.3 34.9 58.3 50.6-.1 15.7-23 35.6-58.4 50.6z"/><circle cx="420.9" cy="296.5" r="45.7"/></g></svg></div>
                            <span>React JS</span>
                        </div>
                        <div class="skillbar"></div>
                    </div>
                    <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                        <div class="skill_name">
                            <div><svg class="iconify" xmlns="http://www.w3.org/2000/svg" viewBox="5.5 797.5 175 175"><g xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:cc="http://creativecommons.org/ns#"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="-64.999" y1="1381.5" x2="-64.999" y2="1206.5" gradientTransform="translate(158 -409)"><stop offset="0" stop-color="#4070F4"/><stop offset="1" stop-color="#4070F4"/></linearGradient><path fill="url(#a)" d="M151.333 799.216c7.292 0 14.183 2.861 19.388 8.062 5.204 5.205 8.062 12.097 8.062 19.389v116.666c0 7.292-2.859 14.184-8.062 19.387-5.205 5.205-12.097 8.064-19.388 8.064H34.667c-7.292 0-14.183-2.859-19.387-8.064-5.205-5.203-8.064-12.095-8.064-19.387V826.667c0-7.292 2.859-14.184 8.064-19.389 5.205-5.201 12.096-8.062 19.387-8.062h116.666m0-1.716H34.667C18.625 797.5 5.5 810.625 5.5 826.667v116.666c0 16.042 13.125 29.167 29.167 29.167h116.666c16.042 0 29.167-13.125 29.167-29.167V826.667c0-16.042-13.125-29.167-29.167-29.167z"/><g><path fill="#3BB1DC" d="M53.053 835.533h49.612c9.149 0 16.499 2.085 22.019 6.289 5.52 4.203 8.293 10.521 8.293 19.015 0 5.147-1.258 9.552-3.773 13.212-2.518 3.659-6.119 6.521-10.811 8.521v.283c6.293 1.346 11.066 4.318 14.297 8.923 3.231 4.633 4.861 10.408 4.861 17.387 0 4.003-.715 7.75-2.145 11.209-1.43 3.487-3.661 6.493-6.721 9.006-3.06 2.517-6.947 4.521-11.724 6.006-4.774 1.488-10.438 2.231-17.013 2.231H53.053V835.533zm17.872 42.748h29.167c4.29 0 7.863-1.201 10.723-3.66 2.86-2.459 4.289-5.948 4.289-10.525 0-5.146-1.287-8.775-3.858-10.862-2.573-2.089-6.291-3.146-11.152-3.146H70.925v28.193zm0 44.752h31.597c5.435 0 9.666-1.404 12.642-4.234 3.001-2.802 4.519-6.806 4.519-11.953 0-5.061-1.488-8.921-4.519-11.667-3.031-2.744-7.207-4.06-12.642-4.06H70.925v31.914z"/></g></g></svg></div>
                            <span>Bootstrap</span>
                        </div>
                        <div class="skillbar"></div>
                    </div>
                </div>
            </div>

            <label class="skill-topic" style="padding-top: 6rem;">Tools</label>
            <div class="skikks-set">
                <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                    <div class="skill_name">
                        <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512" class="iconify" data-icon="file-icons:vscode" data-inline="false" style="transform: rotate(360deg);"><path fill="currentColor" d="M383.998 439.738V0L512 53.247v405.504L384 512L0 382.707l383.998 57.031zM61.18 299.748L32 290.001l72.036-71.208l-72.034-71.207l29.178-9.744l70.81 53.321l117.602-116.25l70.406 29.929v227.895l-70.41 29.928l-117.602-116.243l-70.806 53.324zm107.502-80.956l80.91 60.928V157.864l-80.91 60.928z"></path></svg></div>
                        <span>Visual Studio</span>
                    </div>
                    <div class="skillbar"></div>
                </div>
                <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                    <div class="skill_name">
                        <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" class="iconify" data-icon="cib:github" data-inline="false" style="transform: rotate(360deg);"><path fill="currentColor" d="M16 .396c-8.839 0-16 7.167-16 16c0 7.073 4.584 13.068 10.937 15.183c.803.151 1.093-.344 1.093-.772c0-.38-.009-1.385-.015-2.719c-4.453.964-5.391-2.151-5.391-2.151c-.729-1.844-1.781-2.339-1.781-2.339c-1.448-.989.115-.968.115-.968c1.604.109 2.448 1.645 2.448 1.645c1.427 2.448 3.744 1.74 4.661 1.328c.14-1.031.557-1.74 1.011-2.135c-3.552-.401-7.287-1.776-7.287-7.907c0-1.751.62-3.177 1.645-4.297c-.177-.401-.719-2.031.141-4.235c0 0 1.339-.427 4.4 1.641a15.436 15.436 0 0 1 4-.541c1.36.009 2.719.187 4 .541c3.043-2.068 4.381-1.641 4.381-1.641c.859 2.204.317 3.833.161 4.235c1.015 1.12 1.635 2.547 1.635 4.297c0 6.145-3.74 7.5-7.296 7.891c.556.479 1.077 1.464 1.077 2.959c0 2.14-.02 3.864-.02 4.385c0 .416.28.916 1.104.755c6.4-2.093 10.979-8.093 10.979-15.156c0-8.833-7.161-16-16-16z"></path></svg></div>
                        <span>Github</span>
                    </div>
                    <div class="skillbar"></div>
                </div>
                <div class="skill__" data-aos="fade-down" data-aos-duration="2000">
                    <div class="skill_name">
                        <div><svg class="iconify" viewBox="32.9 57.77898118 414.2 366.56939652" xmlns="http://www.w3.org/2000/svg"><path d="m64.2 370.885c-10.7 0-17.9 8.4-17.9 19.2s7.2 19.2 17.9 19.2 17.9-8.4 17.9-19.2c-.1-10.8-7.3-19.2-17.9-19.2m-2.4-11.9c8.6 0 15.8 4.4 19.2 9.2v-8h13.2v59.9h-10.2a3.009 3.009 0 0 1 -3-3v-5c-3.4 4.8-10.5 9.2-19.2 9.2-16.4 0-28.9-14-28.9-31.1s12.4-31.2 28.9-31.2m47.4 1.2h13.2v8.1c3.6-6 10.4-9.3 18.2-9.3 13.9 0 22.9 9.8 22.9 25v36.1h-10.1a3.009 3.009 0 0 1 -3-3v-30.9c0-9.5-4.8-15.2-12.5-15.2-8.7 0-15.5 6.8-15.5 19.6v29.5h-10.1a3.009 3.009 0 0 1 -3-3zm95.9 10.7c-10.7 0-17.9 8.4-17.9 19.2s7.2 19.2 17.9 19.2 17.9-8.4 17.9-19.2-7.2-19.2-17.9-19.2m-2.4-11.9c8.6 0 15.8 4.4 19.2 9.2v-38h13.2v89.9h-10.1a3.009 3.009 0 0 1 -3-3v-5c-3.4 4.8-10.5 9.2-19.2 9.2-16.4 0-28.9-14-28.9-31.1s12.4-31.2 28.8-31.2m47.4 1.2h13.2v10.7a16.961 16.961 0 0 1 15.8-11.3 22.063 22.063 0 0 1 5.1.5v13.5a21.243 21.243 0 0 0 -6.6-1.1c-7.5 0-14.4 6.4-14.4 18.3v29.2h-10.1a3.009 3.009 0 0 1 -3-3zm69.6 48.8c10.5 0 18-8.3 18-18.9 0-10.7-7.4-18.9-18-18.9-10.7 0-18.1 8.3-18.1 18.9.1 10.7 7.4 18.9 18.1 18.9m0 12.3a31.151 31.151 0 1 1 31.4-31.1 30.948 30.948 0 0 1 -31.4 31.1m42.1-61.1h13.2v59.9h-10.1a3.009 3.009 0 0 1 -3-3zm6.6-13.1a8.985 8.985 0 0 1 -8.9-8.9 8.88 8.88 0 0 1 8.9-8.7 8.8 8.8 0 0 1 0 17.6m48.7 23.8c-10.7 0-17.9 8.4-17.9 19.2s7.2 19.2 17.9 19.2 17.9-8.4 17.9-19.2c-.2-10.8-7.2-19.2-17.9-19.2m-2.4-11.9c8.6 0 15.8 4.4 19.2 9.2v-38h13.2v89.9h-10.1a3.009 3.009 0 0 1 -3-3v-5c-3.4 4.8-10.5 9.2-19.2 9.2-16.4 0-28.9-14-28.9-31.1s12.4-31.2 28.8-31.2"/><path d="m341.5 129.185 34.5-59.7a7.17 7.17 0 0 0 -12.4-7.2l-34.9 60.4a216.078 216.078 0 0 0 -177.2 0l-34.9-60.4a7.17 7.17 0 0 0 -12.4 7.2l34.5 59.7c-59.5 32.2-99.9 92.1-105.8 162.8h414c-5.9-70.7-46.4-130.6-105.4-162.8zm-196.8 103.8a17.2 17.2 0 1 1 17.2-17.2 17.2 17.2 0 0 1 -17.2 17.2zm190.6 0a17.2 17.2 0 1 1 17.2-17.2 17.2 17.2 0 0 1 -17.2 17.2z" fill="#4070F4"/></svg></div>
                        <span>Android Studio</span>
                    </div>
                    <div class="skillbar"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>